<p>
  <b>Parent:</b>
  <%=h @project.parent_id %>
</p>

<p>
  <b>Client:</b>
  <%=h @project.client_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Account:</b>
  <%=h @project.account %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
